/* basic elements */
body { 
	/*background: #fff url(blossoms.jpg) no-repeat bottom right; */
	margin: 0px; 
}

p { 
	margin-top: 0px; 
	/* text-align: justify; */
}

h3 { 
	/*
	font: italic normal 12pt georgia; 
	letter-spacing: 1px; 
	margin-bottom: 0px; 
	color: #7D775C;
	*/
}

a:link { 
	text-decoration: none; 
	/* color: #B7A5DF; */
}

a:visited { 
	text-decoration: none; 
	/*color: #D4CDDC;*/
}

a:hover, a:active { 
	text-decoration: underline; 
	/* color: #9685BA; */
}
