blue {
	color: blue;
}

black, a, a:link, a:visited
{
	color: black;
}

#topnav {
	background-color: black;
}

gray, h1, h2 {
	color: gray;
}

red, a:hover
{
	color:red;
}

white {
	color: white;
}

#selectOrg {
	color: white;
}


