<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration>
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%X{contextData}-%d{ISO8601} [%-5p] %t %c{2} %m - %M:%L\n" />
		</layout>
	</appender>

	<logger name="biz.janux.payment">
		<level value="INFO" />
		<appender-ref ref="stdout" />
	</logger>
	
	<logger name="com.innpoints.myhms.gateway.test">
		<level value="INFO" />
		<appender-ref ref="stdout" />
	</logger>
	
	<logger name="api.org.janux.bus.service">
		<level value="INFO" />
		<appender-ref ref="stdout" />
	</logger>
	
	<logger name="com.innpoints.myhms.payment.creditcard">
		<level value="DEBUG" />
		<appender-ref ref="stdout" />
	</logger>

	<root>
	  <level value="INFO"/>
	  <appender-ref ref="stdout" />
	</root>	
	
</log4j:configuration>
